.searchBar {
  text-align: center;
}

.searchBar>div {
  position: fixed;
  margin: 1rem;
}

.code {
  position: relative;
  top: 2rem;
  right: 7.65rem;
}

select {
  font-size: large;
  border-radius: 0.3rem;
}

.type {
  font-size: x-large;
  border-radius: 0.3rem;
  border: 2px gray solid;
  color: gray;
  margin: 1rem;
}

.btn {
  color: cornflowerblue;
  font-size: x-large;
  background-color: transparent;
  border-radius: 0.3rem;
  border: 2px cornflowerblue solid;
}

.list {
  list-style-type: decimal;
  text-align: left;
}